[submodule "client-gateway"]
	path = client-gateway
	url = git@github.com:nest-ms-kv/client-gateway.git
[submodule "products-launcher"]
	path = products-launcher
	url = git@github.com:nest-ms-kv/products-launcher.git
[submodule "orders-microservice"]
	path = orders-microservice
	url = git@github.com:nest-ms-kv/orders-microservice.git
[submodule "products-microservice"]
	path = products-microservice
	url = git@github.com:nest-ms-kv/products-microservice.git
[submodule "payments-microservice"]
	path = payments-microservice
	url = git@github.com:nest-ms-kv/payments-microservice.git
[submodule "auth-microservice"]
	path = auth-microservice
	url = git@github.com:nest-ms-kv/auth-microservice.git
